@import "tailwindcss";

@theme {
  --color-primary: #85bb65;
  --color-secondary: #384f2a;
  --color-textPrimary: #374653;
  --color-textSecondary: #79838c;
  --color-warning: #ff7b00;
  --color-warningDark: #cb3e00;
  --color-warningLight: #fff4e9;
  --color-error: #ff2333;
  --color-errorDark: #a00000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
